{{define "view/demo.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>gozh</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Page Title</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <script src="static/js/jquery.min.js">
    </script>
    <script src="static/js/bootstrap.min.js">
    </script>
</head>

<body>
<div class="container-fluid">  
  <!-- Our content will go here. -->
  {{template "flashes" .}}
  {{template "yield" .}}
</div> 
  
</body>

</html>
{{end}} 

{{define "flashes"}}
  {{range $key, $value := .Flashes}}
    <div class="alert alert-{{$key}}">
      {{$value}}
    </div>
  {{end}}
{{end}}

